<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../assets/css/aboutUs.css">
	<title>About Us</title>
</head>

<body>
	<header>
		<nav>
			<div class="logo">Hunger-E</div>
			<ul class="nav-links">
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
	</header>

	<section class="about">
		<div class="aboutnew"></div><h1 class="position">About Us</h1></div>

		<p id="centre" style="font-weight: bold">Hunger-E is a leading platform...</p>
		<div class="about-info">
			<div class="about-img">
				<img src="images/hungerlogo.png" alt="Hunger-E">
			</div>
			<div>
	<p> Welcome to <b>Hunger-E</b>, where we are committed to making a positive impact on the environment by responsibly managing electronic waste. Our mission is to provide individuals and businesses with a convenient and eco-friendly solution for disposing of their electronic devices in an environmentally sustaina</p>
	<br>
	
	<center><h1>Our Mission</h1></center>
	<p>At <b>Hunger-E</b>, our mission is clear: to reduce the environmental footprint of electronic waste through responsible recycling and disposal practices. We strive to create awareness about the importance of e-waste management and contribute to the global effort of building a more sustainable future.</p>
	<br>
	<center><h1>Why Choose Us</h1></center>
	<p><b>Environmental Stewardship:-</b>We prioritize environmental sustainability and adhere to strict recycling standards to ensure that electronic waste is processed responsibly.</p>
	<br>
	<p><b>Convenience:-</b>We understand the challenges of e-waste disposal, so we've designed our services to be convenient and user-friendly. Drop off your devices or schedule a <br>pickup-making responsible e-waste disposal has never been easier.</p>
	<br>
	<p><b>Data Security:-</b>Your privacy and data security are our top priorities. Rest assured that we take all necessary measures to protect your sensitive information during the disposal process.</p>
	<br>
	<p><b>Community Engagement:-</b>We actively engage with local communities to raise awareness about the impact of e-waste and provide educational resources on responsible electronics recycling.</p>
	<h1></h1>
				<button>Read More...</button>
			</div>
		</div>
	</section>
	<footer>
		<p>© BitWise Decoy. All Rights Reserved.</p>
	</footer>
</body>

</html>