 
<html>
	<head>
		<title>Sell e-waste</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/sellewaste.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			

				<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="index.html">Hunger-E</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="ourServices.html"> Our Services</a></li>
							<li><a href="map.html">Map</a></li>
							<li>
								<a href="sellewaste.html">Sell E-waste</a>
								<ul>
									<li><a href="#">Sell laptops</a></li>
									<li><a href="#">Sell phones</a></li>
									<li><a href="#">Sell smart watch</a></li>
									<li><a href="#">Sell Refrigirators</a></li>
									<li><a href="#">Sell tablets</a></li>
									<li><a href="#">Sell T.V</a></li>
									<li><a href="#">Sell DVD players</a></li>
									<li><a href="#">Sell Air conditioners</a></li>
									<li>
										<a href="#">More e-waste</a>
										<ul>
											<li><a href="#">Batteries</a></li>
											<li><a href="#">Bulb</a></li>
											<li><a href="#">Toys</a></li>
											<li><a href="#">Others</a></li>
										</ul>
									</li>
								</ul>
							</li>
							
							<li><a href="language.html">Language</a></li>
							<li><a href="aboutUs.html">About Us</a></li>
							<li><a href="contactUs.html">Contact us</a></li>
							<li><a href="user_authentication/forntend/loginpage.html" class="button primary">Login</a></li>
						</ul>
					</nav>
				</header>

			
	<!-- Banner -->
		<section id="banner">
			<div class="content">
					<!-- <input type="text" name="text" class="input" placeholder="search device"> -->
					<!-- <select name="phone" id="phone">
					  
					  <option value="apple">Apple</option>
					  <option value="lg">lg</option>
					  <option value="vivo">VIVO</option>
					  <option value="">
						  <option value="">ram</option>
						  <option value="">HONOR</option>
						  <option value="">HONOR</option>
					  </option>
					  <option value="">ASUS</option>
					  <option value="">GOOGLE</option>
					  <option value="">Samsung</option>
					  <option value="">Huawei</option>
					  <option value="">Nokia</option>
					  <option value="">ONE-PLUS</option>
					</select> -->
					<!-- <span class="icon">
					  <svg width="19px" height="19px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path opacity="1" d="M14 5H20" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path opacity="1" d="M14 8H17" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M21 11.5C21 16.75 16.75 21 11.5 21C6.25 21 2 16.75 2 11.5C2 6.25 6.25 2 11.5 2" stroke="#000" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path> <path opacity="1" d="M22 22L20 20" stroke="#000" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
					</span> -->
<div class="form">
					<form name="form1" id="form1" action="/action_page.php">
						Subjects: <select name="subject" id="subject">
						  <option value="" selected="selected">Select subject</option>
						</select>
						<br><br>
						Topics: <select name="topic" id="topic">
						  <option value="" selected="selected">Please select subject first</option>
						</select>
						<br><br>
						Chapters: <select name="chapter" id="chapter">
						  <option value="" selected="selected">Please select topic first</option>
						</select>
						<br><br>
						<input type="submit" value="Submit">
					  </form>
</div>
				'<div class="img">
				<span class="image"><img src="images/Hunger_E.png" alt="" /></span>
			</div>
		
		</section>

					
			
</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body><script>
		var subjectObject = {
  "Apple": {
    "iPhone (2007)": ["Links", "Images", "Tables", "Lists"],
    "iPhone 3G": ["Links", "Images", "Tables", "Lists"],
    "iPhone 3GS": ["Links", "Images", "Tables", "Lists"],
    "iPhone 4": ["Links", "Images", "Tables", "Lists"],
    "iPhone 4s": ["Links", "Images", "Tables", "Lists"],
    "iPhone 5": ["Links", "Images", "Tables", "Lists"],
    "iPhone 5c": ["Links", "Images", "Tables", "Lists"],
    "iPhone 5s": ["Links", "Images", "Tables", "Lists"],
    "iPhone 6": ["Links", "Images", "Tables", "Lists"],
    "iPhone 6 Plus": ["Links", "Images", "Tables", "Lists"],
    "iPhone 6s": ["Links", "Images", "Tables", "Lists"],
    "iPhone 6s Plus": ["Links", "Images", "Tables", "Lists"],
    "iPhone SE (1st generation)": ["Links", "Images", "Tables", "Lists"],
    "iPhone 7": ["Links", "Images", "Tables", "Lists"],
    "iPhone 7 Plus": ["Links", "Images", "Tables", "Lists"],
    "iPhone 8": ["Links", "Images", "Tables", "Lists"],
    "iPhone 8 Plus": ["Links", "Images", "Tables", "Lists"],
    "iPhone X": ["Links", "Images", "Tables", "Lists"],
    "iPhone XR": ["Links", "Images", "Tables", "Lists"],
    "iPhone XS": ["Links", "Images", "Tables", "Lists"],
    "iPhone XS Max": ["Links", "Images", "Tables", "Lists"],
    "iPhone 11": ["Links", "Images", "Tables", "Lists"],
    "iPhone 11 Pro": ["Links", "Images", "Tables", "Lists"],
    "iPhone 11 Pro Max": ["Links", "Images", "Tables", "Lists"],
    "iPhone SE (2nd generation)": ["Links", "Images", "Tables", "Lists"],
    "iPhone 12 mini": ["Links", "Images", "Tables", "Lists"],
    "iPhone 12": ["Links", "Images", "Tables", "Lists"],
    "iPhone 12 Pro": ["Links", "Images", "Tables", "Lists"],
    "iPhone 12 Pro Max": ["Links", "Images", "Tables", "Lists"],
    "iPhone 13": ["Links", "Images", "Tables", "Lists"],
    "iPhone 13 Pro": ["Links", "Images", "Tables", "Lists"],
    "iPhone 13 Pro Max": ["Links", "Images", "Tables", "Lists"],
    "iPhone SE 3 2022": ["Links", "Images", "Tables", "Lists"],
    "iPhone 14": ["Links", "Images", "Tables", "Lists"],
    "iPhone 14 Plus": ["Links", "Images", "Tables", "Lists"],
    "iPhone 14 Pro": ["Links", "Images", "Tables", "Lists"],
    "iPhone 14 Pro Max": ["Links", "Images", "Tables", "Lists"]
},

     
  "Samsung": {
    "Samsung Galaxy S series": [
        "Galaxy S", "Galaxy S II", "Galaxy S III", "Galaxy S4", "Galaxy S5",
        "Galaxy S6", "Galaxy S6 Edge", "Galaxy S7", "Galaxy S7 Edge", 
        "Galaxy S8", "Galaxy S8+", "Galaxy S9", "Galaxy S9+", 
        "Galaxy S10", "Galaxy S10+", "Galaxy S10e", 
        "Galaxy S20", "Galaxy S20+", "Galaxy S20 Ultra", 
        "Galaxy S21", "Galaxy S21+", "Galaxy S21 Ultra"
    ],
    "Samsung Galaxy Note series": [
        "Galaxy Note", "Galaxy Note II", "Galaxy Note 3", "Galaxy Note 4", 
        "Galaxy Note5", "Galaxy Note7 (Recalled)", 
        "Galaxy Note8", "Galaxy Note9", 
        "Galaxy Note10", "Galaxy Note10+", 
        "Galaxy Note20", "Galaxy Note20 Ultra"
    ],
    "Samsung Galaxy A series": [
        "Galaxy A10", "Galaxy A20", "Galaxy A30", "Galaxy A40", "Galaxy A50", 
        "Galaxy A60", "Galaxy A70", "Galaxy A80", "Galaxy A90", 
        "Galaxy A10s", "Galaxy A20s", "Galaxy A30s", "Galaxy A50s", 
        "Galaxy A70s", "Galaxy A80s", "Galaxy A90 5G"
    ],
    "Samsung Galaxy J series": [
        "Galaxy J1", "Galaxy J2", "Galaxy J3", "Galaxy J5", "Galaxy J7"
    ],
    "Samsung Galaxy M series": [
        "Galaxy M10", "Galaxy M20", "Galaxy M30", "Galaxy M40"
    ],
    "Samsung Galaxy Z series": [
        "Galaxy Z Fold", "Galaxy Z Fold 2", "Galaxy Z Flip", "Galaxy Z Flip 5G"
    ]
},

   
  "Nokia":  {
    "Nokia 1 series": [
        "Nokia 1", "Nokia 1.1", "Nokia 1.2", "Nokia 1.3"
    ],
    "Nokia 2 series": [
        "Nokia 2", "Nokia 2.1", "Nokia 2.2", "Nokia 2.3"
    ],
    "Nokia 3 series": [
        "Nokia 3", "Nokia 3.1", "Nokia 3.2", "Nokia 3.4"
    ],
    "Nokia 4 series": [
        "Nokia 4.2", "Nokia 4.3"
    ],
    "Nokia 5 series": [
        "Nokia 5", "Nokia 5.1", "Nokia 5.3", "Nokia 5.4"
    ],
    "Nokia 6 series": [
        "Nokia 6", "Nokia 6.1", "Nokia 6.2", "Nokia 6.3"
    ],
    "Nokia 7 series": [
        "Nokia 7", "Nokia 7.1", "Nokia 7.2"
    ],
    "Nokia 8 series": [
        "Nokia 8", "Nokia 8.1", "Nokia 8.3 5G"
    ],
    "Nokia 9 series": [
        "Nokia 9 PureView"
    ],
    "Nokia X series": [
        "Nokia X6", "Nokia X71"
    ],
    "Nokia G series": [
        "Nokia G10", "Nokia G20", "Nokia G21", "Nokia G50", "Nokia G70", "Nokia G80", "Nokia G81", "Nokia G90"
    ],
    "Nokia C series": [
        "Nokia C1", "Nokia C2", "Nokia C3", "Nokia C5 Endi", "Nokia C10", "Nokia C20", "Nokia C30"
    ]
},

  "vivo":  {
    "Vivo X series": [
        "Vivo X1", "Vivo X3", "Vivo X5Max", "Vivo X6", "Vivo X7", 
        "Vivo X9", "Vivo X20", "Vivo X21", "Vivo X23", "Vivo X27", 
        "Vivo X30", "Vivo X50", "Vivo X60"
    ],
    "Vivo V series": [
        "Vivo V1", "Vivo V3", "Vivo V5", "Vivo V7", "Vivo V9", 
        "Vivo V11", "Vivo V15", "Vivo V17", "Vivo V19", "Vivo V20", 
        "Vivo V21"
    ],
    "Vivo S series": [
        "Vivo S1", "Vivo S3", "Vivo S5", "Vivo S6", "Vivo S7", "Vivo S9"
    ],
    "Vivo Y series": [
        "Vivo Y11", "Vivo Y12", "Vivo Y15", "Vivo Y17", "Vivo Y20", 
        "Vivo Y30", "Vivo Y50", "Vivo Y51", "Vivo Y53", "Vivo Y55", 
        "Vivo Y66", "Vivo Y69", "Vivo Y71", "Vivo Y81", "Vivo Y83", 
        "Vivo Y85", "Vivo Y91", "Vivo Y93", "Vivo Y95", "Vivo Y97"
    ],
    "Vivo NEX series": [
        "Vivo NEX", "Vivo NEX Dual Display", "Vivo NEX 3", "Vivo NEX 3S", 
        "Vivo NEX S", "Vivo NEX A"
    ],
    "Vivo iQOO series": [
        "Vivo iQOO", "Vivo iQOO Pro", "Vivo iQOO Neo", "Vivo iQOO Z1", 
        "Vivo iQOO Z3", "Vivo iQOO 3", "Vivo iQOO 5", "Vivo iQOO 7"
    ],
    "Vivo Z series": [
        "Vivo Z1", "Vivo Z3", "Vivo Z5", "Vivo Z6", "Vivo Z7", "Vivo Z9"
    ]
},

  "Google":  {
    "Google Pixel series": [
        "Google Pixel", "Google Pixel XL", "Google Pixel 2", "Google Pixel 2 XL", 
        "Google Pixel 3", "Google Pixel 3 XL", "Google Pixel 3a", "Google Pixel 3a XL", 
        "Google Pixel 4", "Google Pixel 4 XL", "Google Pixel 4a", "Google Pixel 4a 5G", 
        "Google Pixel 5", "Google Pixel 5a", "Google Pixel 6", "Google Pixel 6 Pro"
    ]
},

  "Honor":  {
    "Honor 1 series": [
        "Honor 1", "Honor 1C", "Honor 1S"
    ],
    "Honor 2 series": [
        "Honor 2", "Honor 2X", "Honor 2C"
    ],
    "Honor 3 series": [
        "Honor 3", "Honor 3C", "Honor 3X", "Honor 3C Lite"
    ],
    "Honor 4 series": [
        "Honor 4X", "Honor 4C", "Honor 4A"
    ],
    "Honor 5 series": [
        "Honor 5X", "Honor 5A", "Honor 5C", "Honor 5A Plus", "Honor 5C Lite"
    ],
    "Honor 6 series": [
        "Honor 6", "Honor 6X", "Honor 6C", "Honor 6A"
    ],
    "Honor 7 series": [
        "Honor 7", "Honor 7X", "Honor 7A", "Honor 7C", "Honor 7S", "Honor 7i", "Honor 7 Lite"
    ],
    "Honor 8 series": [
        "Honor 8", "Honor 8X", "Honor 8C", "Honor 8A"
    ],
    "Honor 9 series": [
        "Honor 9", "Honor 9X", "Honor 9 Lite", "Honor 9i", "Honor 9N"
    ],
    "Honor 10 series": [
        "Honor 10", "Honor 10 Lite"
    ],
    "Honor 20 series": [
        "Honor 20", "Honor 20 Lite", "Honor 20 Pro"
    ],
    "Honor 30 series": [
        "Honor 30", "Honor 30 Lite", "Honor 30 Pro"
    ],
    "Honor View series": [
        "Honor View 10", "Honor View 20", "Honor View 30", "Honor View 40"
    ]
},

  "Realme": {
    "Realme C series": [
        "Realme C1", "Realme C2", "Realme C3", "Realme C11", 
        "Realme C12", "Realme C15", "Realme C17", "Realme C20", 
        "Realme C21", "Realme C25", "Realme C25s"
    ],
    "Realme Narzo series": [
        "Realme Narzo 10", "Realme Narzo 10A", "Realme Narzo 20", "Realme Narzo 20A", 
        "Realme Narzo 20 Pro", "Realme Narzo 30A", "Realme Narzo 30 Pro"
    ],
    "Realme Number series": [
        "Realme 1", "Realme 2", "Realme 2 Pro", "Realme 3", 
        "Realme 3 Pro", "Realme 5", "Realme 5 Pro", "Realme 5i", 
        "Realme 5s", "Realme 6", "Realme 6 Pro", "Realme 6i", 
        "Realme 7", "Realme 7i", "Realme 8", "Realme 8i", 
        "Realme 8s", "Realme 8 Pro", "Realme 9 Pro", "Realme 9 Pro+"
    ],
    "Realme X series": [
        "Realme X", "Realme X2", "Realme X2 Pro", "Realme X3", 
        "Realme X3 SuperZoom", "Realme X50", "Realme X50 Pro", "Realme X7", 
        "Realme X7 Pro", "Realme X7 Max", "Realme X9", "Realme X9 Pro"
    ],
    "Realme GT series": [
        "Realme GT", "Realme GT Master Edition", "Realme GT Neo", "Realme GT 5G"
    ],
    "Realme V series": [
        "Realme V5", "Realme V11", "Realme V13", "Realme V15", 
        "Realme V25", "Realme V30", "Realme V55", "Realme V17", 
        "Realme V21"
    ]
},

  "Oppo": {
    "Oppo A series": [
        "Oppo A1", "Oppo A3", "Oppo A5", "Oppo A7", "Oppo A8", 
        "Oppo A9", "Oppo A11", "Oppo A15", "Oppo A31", "Oppo A33", 
        "Oppo A35", "Oppo A37", "Oppo A39", "Oppo A57", "Oppo A71", 
        "Oppo A73", "Oppo A77", "Oppo A79", "Oppo A83", "Oppo A92", 
        "Oppo A93", "Oppo A94", "Oppo A95"
    ],
    "Oppo F series": [
        "Oppo F1", "Oppo F1 Plus", "Oppo F1s", "Oppo F3", "Oppo F3 Plus", 
        "Oppo F5", "Oppo F5 Youth", "Oppo F5 Pro", "Oppo F7", "Oppo F7 Youth", 
        "Oppo F9", "Oppo F9 Pro", "Oppo F11", "Oppo F11 Pro", "Oppo F15", 
        "Oppo F17", "Oppo F17 Pro"
    ],
    "Oppo Find series": [
        "Oppo Find 5", "Oppo Find 7", "Oppo Find X", "Oppo Find X2", 
        "Oppo Find X2 Pro", "Oppo Find X3", "Oppo Find X3 Pro"
    ],
    "Oppo Reno series": [
        "Oppo Reno", "Oppo Reno 2", "Oppo Reno 2Z", "Oppo Reno 3", 
        "Oppo Reno 3 Pro", "Oppo Reno 4", "Oppo Reno 4 Pro", "Oppo Reno 5", 
        "Oppo Reno 5 Pro", "Oppo Reno 5Z", "Oppo Reno 6", "Oppo Reno 6 Pro"
    ],
    "Oppo K series": [
        "Oppo K1", "Oppo K3", "Oppo K5", "Oppo K7", "Oppo K9", 
        "Oppo K10"
    ],
    "Oppo Realme series": [
        "Oppo Realme 1", "Oppo Realme 2", "Oppo Realme 3", 
        "Oppo Realme 5", "Oppo Realme 6", "Oppo Realme 7", 
        "Oppo Realme 8", "Oppo Realme GT"
    ]
},
"Redmi": {
    "Redmi 1 series": [
        "Redmi 1", "Redmi 1S"
    ],
    "Redmi 2 series": [
        "Redmi 2", "Redmi 2A", "Redmi 2 Prime"
    ],
    "Redmi 3 series": [
        "Redmi 3", "Redmi 3S", "Redmi 3X", "Redmi 3 Pro", "Redmi 3 Prime"
    ],
    "Redmi 4 series": [
        "Redmi 4", "Redmi 4A", "Redmi 4 Prime", "Redmi 4X"
    ],
    "Redmi 5 series": [
        "Redmi 5", "Redmi 5A", "Redmi 5 Plus", "Redmi 5 Prime"
    ],
    "Redmi 6 series": [
        "Redmi 6", "Redmi 6A", "Redmi 6 Pro"
    ],
    "Redmi 7 series": [
        "Redmi 7", "Redmi 7A"
    ],
    "Redmi 8 series": [
        "Redmi 8", "Redmi 8A", "Redmi 8A Dual"
    ],
    "Redmi 9 series": [
        "Redmi 9", "Redmi 9A", "Redmi 9C", "Redmi 9i", "Redmi 9T"
    ],
    "Redmi Note series": [
        "Redmi Note", "Redmi Note 2", "Redmi Note 3", "Redmi Note 4", 
        "Redmi Note 5", "Redmi Note 6", "Redmi Note 7", "Redmi Note 8", 
        "Redmi Note 9", "Redmi Note 10", "Redmi Note 11"
    ],
    "Redmi Pro series": [
        "Redmi Pro"
    ],
    "Redmi K series": [
        "Redmi K20", "Redmi K20 Pro", "Redmi K30", "Redmi K30 Pro", 
        "Redmi K40", "Redmi K40 Pro", "Redmi K50", "Redmi K50 Pro"
    ],
    "Redmi X series": [
        "Redmi X", "Redmi X2", "Redmi X3", "Redmi X4"
    ]
},



 
}
window.onload = function() {
  var subjectSel = document.getElementById("subject");
  var topicSel = document.getElementById("topic");
  var chapterSel = document.getElementById("chapter");
  for (var x in subjectObject) {
    subjectSel.options[subjectSel.options.length] = new Option(x, x);
  }
  subjectSel.onchange = function() {
    //empty Chapters- and Topics- dropdowns
    chapterSel.length = 1;
    topicSel.length = 1;
    //display correct values
    for (var y in subjectObject[this.value]) {
      topicSel.options[topicSel.options.length] = new Option(y, y);
    }
  }
  topicSel.onchange = function() {
    //empty Chapters dropdown
    chapterSel.length = 1;
    //display correct values
    var z = subjectObject[subjectSel.value][this.value];
    for (var i = 0; i < z.length; i++) {
      chapterSel.options[chapterSel.options.length] = new Option(z[i], z[i]);
    }
  }
}
	</script>
</html>
