<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/styles2.css">
  <title>User Profile Card</title>
  
<div id="profile-card">
  <div id="profile-pic">
    <img src="images/vector-flat-illustration-grayscale-avatar-600nw-2264922221.webp" alt="Profile Pic">
  </div>
  <div id="profile-details">
    <h2>My profile</h2>
    <p>Email: user2@gamil.com</p>
  </div>
  <div id="credit-badges">
    <!-- <div>
      <h3>Credit Points</h3>
      <p>534</p>
    </div>  -->
    <div>
    </div>
  </div> 
  <div id="profile-options">
    <div class="option">
      <a href="account_settings.html">Account Settings</a>
    </div>
    <div class="option">
      <a href="dashboard.html">Dashboard</a>
    </div>
    <div class="option">
      <a href="notifications.html">Notifications</a>
    </div>
    <div class="option">
      <a href="history.html">History</a>
    </div>
    <div class="option">
      <a href="#" onclick="logout()">Log Out</a>
    </div>
  </div>
</div>


<script src="script.js"></script>
</body>
</html>
