 body{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0EBDE;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #f0f5f1;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    justify-content: center;

  }
  
  .title {
    font-size: 28px;
    color: #4EB86C;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: rgb(65, 225, 84);
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: #77f56c;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(19, 20, 19, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: rgb(15, 38, 15);
  }
  
  .signin a:hover {
    text-decoration: underline rgb(230, 236, 231);
  }
  
  .flex {
    display: flex;
    width: 94%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 90%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(11, 11, 11, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: rgb(10, 10, 10);
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  
  .submit {
    border: none;
    outline: none;
    background-color:#4EB86C;
    padding: 10px;
    border-radius: 10px;
    color: #f5f1f1;
    font-size: 16px;
    transform: .3s ease;
    width: 96%;
  }
  
  .submit:hover {
    background-color: #4cb069a6;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
