<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="e-wastePop.css">
</head>
<body>
     <div class="container">
        <button type="submit"  class="btn" onclick="openPopup()">do you know ?</button>
        <div class="popup" id="popup">
            <h2>Did you know?</h2>
            <p data-text="Edu">E-waste contains multiple known and suspected neurotoxicants, 
                including lead and mercury, that may disrupt the development of the central nervous system during pregnancy, 
                infancy, childhood and adolescence.</p>
                <button type="button" onclick="openPopup()"><a href="http://localhost:5001">Next</a></button>
        </div>
     </div>
     <script src="e-wastePop.js"></script>
</body>
</html>